/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    width: 80%;
    max-width: 900px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  header h1 {
    font-size: 2em;
    color: #333;
  }
  
  header label {
    margin-right: 10px;
  }
  
  header select,
  header input {
    padding: 10px;
    margin: 10px 0;
    font-size: 1.1em;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  #dataContainer {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
  }
  
  .card {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  }
  
  .card p {
    margin: 10px 0;
  }
  
  .card .activo {
    color: green;
    font-weight: bold;
  }
  
  .card .inactive {
    color: red;
    font-weight: bold;
  }
  
  .pagination {
    text-align: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
  }
  
  .pagination button.active {
    background-color: #2980b9;
  }
  
  .pagination button:hover {
    background-color: #2980b9;
  }
  
  .pagination button.disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
  }
  
  .pagination .nav-button {
    background-color: #2ecc71;
  }
  
  .pagination .nav-button:hover {
    background-color: #27ae60;
  }
  